/SurvivalGame/Library
/SurvivalGame/obj
/SurvivalGame/Temp
/SurvivalGame/Assembly-CSharp-Editor.csproj
/SurvivalGame/Assembly-CSharp-Editor-vs.csproj
/SurvivalGame/Assembly-CSharp-vs.csproj
/SurvivalGame/SurvivalGame.sln
/SurvivalGame/SurvivalGame-csharp.sln
/SurvivalGame/UnityVS.SurvivalGame.CSharp.csproj
/SurvivalGame/UnityVS.SurvivalGame.CSharp.Editor.csproj
/SurvivalGame/UnityVS.SurvivalGame.sln
/SurvivalGame/Assembly-CSharp.csproj
